 <%= link_to "New Macroregion", new_macroregion_path%>

<table>
  <tr>
    <th>Macroregion</th>
  </tr>
 
  <% @macroregions.each do |macroregion| %>
    <tr>
      <td><%= macroregion.macroreg %></td>
      <td><%= link_to "Show", macroregion_path(macroregion) %></td>
      <td><%= link_to "Edit", edit_macroregion_path(macroregion) %></td>
      <td><%= link_to "Destroy", macroregion_path(macroregion), method: :delete, data:{confirm: "Are you sure?"} %></td>
    </tr>
  <% end %>
</table>