 

 
 <%= link_to "New Group", new_group_path%>

<table>
  <tr>
    <th>Group</th>
  </tr>
 
  <% @groups.each do |group| %>
    <% begin %>
      <% @conductor = Publisher.find(group.conductor) %>
    <% rescue ActiveRecord::RecordNotFound %>
      <% @conductor = Publisher.new(name: "unknown")%>
    <% end %>

    <% begin %>
      <% @helper = Publisher.find(group.helper) %>
    <% rescue ActiveRecord::RecordNotFound %>
      <% @helper = Publisher.new(name: "unknown")%>
    <% end %>

    <tr>
      <td><%= group.number %></td>
      <td><%= @conductor.name %></td>
      <td><%= @helper.name %></td>
      <td><%= link_to "Show", group_path(group) %></td>
      <td><%= link_to "Edit", edit_group_path(group) %></td>
      <td><%= link_to "Destroy", group_path(group), method: :delete, data:{confirm: "Are you sure?"} %></td>
    </tr>
  <% end %>
</table>