
 
 <div class="container">
    <h1>Listing Groups</h1>
  <% @groups.each do |group| %>
  <ul class="collection with-header">
  <li class="collection-header">
  <div class="row"> 
  <div class="col s8 m8 l10">
  <h4>Group <%= group.number %></h4>
  </div>
  <div class="col s4 m4 l2"> <div class="valign-wrapper">
  <%= link_to edit_group_path(group), class:"btn-floating waves-effect waves-light red" do %><i class="material-icons">edit</i> <%end%> <%= link_to group_path(group), method: :delete, data:{confirm: "Are you sure?"}, class:"btn-floating waves-effect waves-light red" do %> <i class="material-icons">delete</i> <%end%> <%= link_to group_path(group), class:"btn-floating waves-effect waves-light red" do%> <i class="material-icons">art_track</i> <%end%> 
  </div> </div> 
  </div>
  </li>
  
    <% begin %>
      <% @conductor = Publisher.find(group.conductor) %>
    <% rescue ActiveRecord::RecordNotFound %>
      <% @conductor = Publisher.new(name: "unknown")%>
    <% end %>

    <% begin %>
      <% @helper = Publisher.find(group.helper) %>
    <% rescue ActiveRecord::RecordNotFound %>
      <% @helper = Publisher.new(name: "unknown")%>
    <% end %>
    <li class="collection-item">Conductor: <%= @conductor.name %></li>
    <li class="collection-item">Helper: <%= @helper.name %></li>
    
    <% Publisher.where("group_id = ?", group.id).each do |publisher| %>
      <% if publisher.id != group.conductor && publisher.id != group.helper %>
        <li class="collection-item"><%= publisher.name%></li>
      <%end%>
    <%end%>
    </ul>
    
  <% end %>
  </div>

  <div class="fixed-action-btn offset-s10">
    <%= link_to new_group_path, class:"btn-floating btn-large waves-effect waves-light red" do %>
      <i class="material-icons">add</i>
    <% end %>
  </div>