<% content_for :header do %>

<div class="navbar-fixed">
    <nav class="nav-extended navbar-dark indigo darken-2 z-depth-2">
        <div class="nav-wrapper">
            <a href="home.html" class="brand-logo">Permissions</a>
            <a href="#" data-target="slide-out" class="sidenav-trigger">
                <i class="material-icons">menu</i>
            </a>
        </div>
    </nav>
</div>

<% end %>

<div class="container">

    <%= form_tag put_permissions_path, method: :put do %>

    <%# Iteração sobre todos os usuários. Relaciona-os com os seus devidos publicadores %>
    <div class="row">
    <% User.all.each do |user| %>
        <div class="col s12 m12">
            <div class="card white z-depth-3">
                <div class="card-content black-text">
                    <span class="card-title"><%= user.email %></span>
                    <div>
                        <% if user.publisher_id == nil || user.publisher_id == "" %>
                            <%= select_tag "publisher_#{user.id}", options_from_collection_for_select(Publisher.without_user, :id, :name), {include_blank: "Choose publisher"} %>
                        <% else %>
                            <%= select_tag "publisher_#{user.id}", options_from_collection_for_select(Publisher.without_user(user.publisher_id), :id, :name, selected: user.publisher_id) %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
    </div>
    
    <%# Botão para enviar as modificações %>
    <div class="fixed-action-btn">
        <%= button_tag type:"submit", method: :put, class:"btn-floating btn-large purple darken-2" do%>
            <i class="material-icons Large">send</i>
        <% end  %>
    </div>

    <% end %>
</div>