<ul id="slide-out" class="sidenav">
    <li><div class="user-view">
        <div class="background">
            <img src="http://via.placeholder.com/300x100">
        </div>
        <a href="#name"><span class="white-text name">John Doe</span></a>
        <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
    </div></li>
    <li>
        <%= link_to root_path do %><i class="material-icons left">home</i> Home <% end %>
    </li>
    <li>
        <%= link_to assignments_path do %><i class="material-icons left">assignment</i>Assign<% end %>
    </li>
    <li>
        <%= link_to overview_path do %><i class="material-icons left">show_chart</i> Overview <% end %>
    </li>
    <li>
        <%= link_to management_path do %><i class="material-icons left">person_add</i> Management <% end %>
    </li>
    
    <div class="divider"></div>
    <li>
        <%= link_to help_path do %><i class="material-icons left">help</i> Help <% end %>
    </li>
    
    <div class="divider"></div>
    <li>
        <%= link_to destroy_user_session_path, method: :delete do %><i class="material-icons left">exit_to_app</i> Logout <% end %>
    </li>
</ul>