  <%# Dropdown structure %>
  <ul id="dropdown1" class="dropdown-content">
    <li><a href="#!">one</a></li>
    <li><a href="#!">two</a></li>
    <li class="divider"></li>
    <li><a href="#!">three</a></li>
  </ul>
<header>
  <nav class="nav-wrapper light-blue darken-4 z-depth-3">
      <%= link_to 'COINS', root_path, class: "brand-logo" %>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><%= link_to 'Addresses', addresses_path, class: "nav-link" %></li>
        <li><%= link_to 'Cultures', cultures_path, class: "nav-link" %></li>
        <li><%= link_to 'Characteristics', characteristics_path, class: "nav-link" %></li>
        <li><%= link_to 'Telephones', telephones_path, class: "nav-link" %></li>
        <li><%= link_to 'Groups', groups_path, class: "nav-link" %></li>
        <li><%= link_to 'Publishers', publishers_path, class: "nav-link" %></li>
        <li><%= link_to 'Cards', cards_path, class: "nav-link" %></li>

        <%# Authentication dropdown %>
        <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>

      <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  </nav>

  <ul id="slide-out" class="sidenav">
        <li><%= link_to 'Addresses', addresses_path, class: "nav-link" %></li>
        <li><%= link_to 'Cultures', cultures_path, class: "nav-link" %></li>
        <li><%= link_to 'Characteristics', characteristics_path, class: "nav-link" %></li>
        <li><%= link_to 'Telephones', telephones_path, class: "nav-link" %></li>
        <li><%= link_to 'Groups', groups_path, class: "nav-link" %></li>
        <li><%= link_to 'Publishers', publishers_path, class: "nav-link" %></li>
        <li><%= link_to 'Cards', cards_path, class: "nav-link" %></li>
      </ul>

</header>