      <% @publishers = Array.new %>
      <% @publishers.push(["No one", ]) %>
      <% Publisher.all.each do |pub|%>
        <% @publishers.push([pub.name, pub.id]) %>
      <% end %>

<%= form_with(model: group, local: true) do |form| %>
 
  <p>
    <%= form.label :number %><br>
    <%= form.text_field :number %>
  </p>
  <p>
    <%= form.label :conductor %><br>
    <%= form.select(:conductor,@publishers) %>
  </p>
    <p>
    <%= form.label :helper %><br>
    <%= form.select(:helper,@publishers) %>
  </p>
  <div class="row">
    <div class="col s8">
    <%= link_to groups_path, class:"btn waves-effect waves-light",type:"button" do %>
      Back <i class="material-icons left">arrow_back</i>
    <%end%>
    </div>
    <div class="col s4">
    <button name="commit" type="submit" value="Create" class="btn waves-effect waves-light right">
    Submit <i class="material-icons right">send</i>
    </button>
    </div>
  </div>
 
<% end %>