      <% @publishers = Array.new %>
      <% @publishers.push(["No one", ]) %>
      <% Publisher.all.each do |pub|%>
        <% @publishers.push([pub.name, pub.id]) %>
      <% end %>

<%= form_with(model: group, local: true) do |form| %>
 
  <p>
    <%= form.label :number %><br>
    <%= form.text_field :number %>
  </p>
  <p>
    <%= form.label :conductor %><br>
    <%= form.select(:conductor,@publishers) %>
  </p>
    <p>
    <%= form.label :helper %><br>
    <%= form.select(:helper,@publishers) %>
  </p>
  <p>
    <%= form.submit %>
  </p>
 
<% end %>