<% @groups = Array.new %>
<% Group.all.each do |group| %>
  <% begin %>
    <% @conductor = Publisher.find(group.conductor) %>
  <% rescue ActiveRecord::RecordNotFound %>
    <% @conductor = Publisher.new(name: "unknown")%>
  <% end %>
  <% @groups.push([group.number.to_s + "-" + @conductor.name]) %>
<%end%>

<% @macroregions = Array.new %>
<% Macroregion.all.each do |macroreg| %>
  <%@macroregions.push([macroreg.macroreg,macroreg.id])%>
<% end %>


<%= form_with(model: publisher, local: true) do |form| %>
 
  <p>
    <%= form.label :nome %><br>
    <%= form.text_field :nome %>
  </p>
  <p>
    <%= form.label :email %><br>
    <%= form.text_field :email %>
  </p>
    <p>
    <%= form.label :cellphone %><br>
    <%= form.text_field :cellphone %>
  </p>
    <p>
    <%= form.label :neighborhood %><br>
    <%= form.text_field :neighborhood %>
  </p>
  <p>
    <%= form.label :macroregion %><br>
    <%= form.select(:macroregion_id,@macroregions) %>
  </p>
    <p>
    <%= form.label :group %><br>
    <%= form.select(:group_id, @groups) %>
  </p>
  <p>
    <%= form.submit %>
  </p>
 
<% end %>