<div class="container">
<% @groups = Array.new %>
<% Group.all.each do |group| %>
  <% begin %>
    <% @conductor = Publisher.find(group.conductor) %>
  <% rescue ActiveRecord::RecordNotFound %>
    <% @conductor = Publisher.new(name: "unknown")%>
  <% end %>
  <% @groups.push([group.number.to_s + "-" + @conductor.name,group.id]) %>
<%end%>

<% @macroregions = Array.new %>
<% Macroregion.all.each do |macroreg| %>
  <%@macroregions.push([macroreg.macroreg,macroreg.id])%>
<% end %>


<%= form_with(model: publisher, local: true) do |form| %>
 
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :email %><br>
    <%= form.text_field :email %>
  </p>
    <p>
    <%= form.label :cellphone %><br>
    <%= form.text_field :cellphone %>
  </p>
    <p>
    <%= form.label :neighborhood %><br>
    <%= form.text_field :neighborhood %>
  </p>
  <p>
    <%= form.label :macroregion %><br>
    <%= form.select(:macroregion_id,@macroregions) %>
  </p>
    <p>
    <%= form.label :group %><br>
    <%= form.select(:group_id, @groups) %>
  </p>
  <div class="row">
    <div class="col s8">
    <%= link_to publishers_path, class:"btn waves-effect waves-light",type:"button" do %>
      Back <i class="material-icons left">arrow_back</i>
    <%end%>
    </div>
    <div class="col s4">
    <button name="commit" type="submit" value="Create" class="btn waves-effect waves-light right">
    Submit <i class="material-icons right">send</i>
    </button>
    </div>
  </div>
 
<% end %>
</div>