 <div class="container">

  <ul class="collection">
  <% @publishers.each do |publisher| %>

  <% begin %>
    <% @group = Group.find(publisher.group_id) %>
    <% @conductor = Publisher.find(@group.conductor) %>
  <% rescue ActiveRecord::RecordNotFound %>
    <% @group = Group.new(number: 0) %>
    <% @conductor = Publisher.new(name: "Unknown") %>
  <% end %>

  <% begin %>
    <% @macroregion = Macroregion.find(publisher.macroregion_id) %>
  <% rescue ActiveRecord::RecordNotFound %>
    <% @macroregion = Macroregion.new(macroreg: "Error") %>
  <% end %>
    <li class="collection-item avatar">
    <div class="row">
      <div class="col s12 m12 l12">
        <i class="large material-icons circle">account_circle</i>
        <span class="title"><h5><%= publisher.name %></h5></span>
        <blockquote>
          <p>
            <b>Neighborhood</b>: <%= publisher.neighborhood %> <br>
            <b>Email</b>: <%= publisher.email %> <br>
            <b>Cellphone</b>: <%= publisher.cellphone %> <br>
            <b>Macroregion</b>:  <%= @macroregion.macroreg %> <br>
            <b>Group <%= @group.number.to_s%></b> <%=" - " + @conductor.name %>
          </p>
        </blockquote>
      <div class="divider"></div>
      </div>
      
      </div>
      <div class="row">
        <div class="hide-on-small-only">
          <div class="col s6 m6 l6 center">
            <%= link_to edit_publisher_path(publisher), class:"waves-effect waves-teal btn-flat" do %> <div class="valign-wrapper">Edit </div> <%end%> 
          </div>
          <div class="col s6 m6 l6 center">
            <%= link_to publisher_path(publisher), method: :delete, data:{confirm: "Are you sure?"}, class:"waves-effect waves-teal btn-flat red-text" do %>Delete<%end%>
          </div>
        </div>
        <div class="hide-on-med-and-up">
          <div class="col s6 m6 l6 center">
            <%= link_to edit_publisher_path(publisher), class:"waves-effect waves-teal btn-flat" do %> <i class="material-icons"> edit</i> <%end%> 
          </div>
          <div class="col s6 m6 l6 center">
            <%= link_to publisher_path(publisher), method: :delete, data:{confirm: "Are you sure?"}, class:"waves-effect waves-teal btn-flat red-text" do %><i class="material-icons">delete</i><%end%>
          </div>
        </div>
    </div>
    </li>
  <% end %>
  </ul>
  </div>
  <div class="fixed-action-btn offset-s11">
    <%= link_to new_publisher_path, class:"btn-floating btn-large waves-effect waves-light red" do %>
      <i class="material-icons">add</i>
    <% end %>
  </div>