<p>
  <strong>Name: </strong>
  <%= @publisher.name %>
</p>
<p>
  <strong>email:</strong>
  <%= @publisher.email %>
</p>
<p>
  <strong>cellphone:</strong>
  <%= @publisher.cellphone %>
</p>
<p>
  <strong>group </strong>
  <%= @publisher.group_id %>
</p>
<p>
  <strong>Maroregion:</strong>
  <%= @publisher.macroregion_id %>
</p>
<p>
  <strong>Neighborhood:</strong>
  <%= @publisher.neighborhood %>
</p>
<%= link_to 'Back', publishers_path %>