
  <% begin %>
    <% @group = Group.find(@publisher.group_id) %>
    <% @conductor = Publisher.find(@group.conductor) %>
  <% rescue ActiveRecord::RecordNotFound %>
    <% @group = Group.new(number: 0) %>
    <% @conductor = Publisher.new(name: "Unknown") %>
  <% end %>

  <% begin %>
    <% @macroregion = Macroregion.find(@publisher.macroregion_id) %>
  <% rescue ActiveRecord::RecordNotFound %>
    <% @macroregion = Macroregion.new(macroreg: "Error") %>
  <% end %>

<p>
  <strong>Name: </strong>
  <%= @publisher.name %>
</p>
<p>
  <strong>email:</strong>
  <%= @publisher.email %>
</p>
<p>
  <strong>cellphone:</strong>
  <%= @publisher.cellphone %>
</p>
<p>
  <strong>group </strong>
  <%= @group.number.to_s + " - " + @conductor.name %>
</p>
<p>
  <strong>Maroregion:</strong>
  <%= @macroregion.macroreg %>
</p>
<p>
  <strong>Neighborhood:</strong>
  <%= @publisher.neighborhood %>
</p>
<%= link_to 'Back', publishers_path %>