
<% content_for :header do %>

<div class="navbar-fixed">
    <nav class="nav-extended navbar-dark indigo darken-2 z-depth-2">
        <div class="nav-wrapper">
            <a href="home.html" class="brand-logo">Coins</a>
            <a href="#" data-target="slide-out" class="sidenav-trigger">
                <i class="material-icons">menu</i>
            </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                    <a href="dashboard.html">Dashboard</a>
                </li>
            </ul>
            
        </div>
        <div class="nav-content">
            <ul class="tabs tabs-transparent">
                <li class="tab">
                    <a href="#assigned-territories" class="active">Assignments</a>
                </li>
                <li class="tab">
                    <a href="#info">Informations</a>
                </li>
            </ul>
        </div>
        
    </nav>
</div>

<% end %>

<!-- ABA de territórios designados -->
<div id="assigned-territories" class="col s12">
    <div class="container">
        
        <%# current_user.assignments_to_do.each do |assignment| %>
        <% User.first.assignments_to_do.each do |assignment| %>
        <% puts assignment%>
        <%# Cartão %>
        <div class="row">
            <div class="col s12 m10 l8 xl8 offset-xl2 offset-l2 offset-m1">
                <div class="card grey lighten-5 z-depth-2">
                    <%# Conteúdo do cartão  %>
                    <div class="card-content indigo-text text-darken-4">
                        
                        <%# Header %>
                        <% @card = Card.find(assignment.card_id) %>
                        <span class="card-title">
                            <div class="row">
                                <div class="col s2" style="padding-left: 0%"><i class="material-icons medium">location_on</i></div>
                                <div class="col s10" style="vertical-align:middle;">
                                    <h4 style="margin-top: 0px">
                                        <b><%= @card.name %></b>
                                    </h4>
                                </div>
                            </div>
                        </span>
                        
                        <%# Endereços %>
                        <% @addresses = @card.addresses%>
                        <% if !@addresses.empty? %>
                        <ul class="collapsible z-depth-0">
                            <% @addresses.each do |address| %>
                            <li>
                                <div class="collapsible-header <%= address.done?(assignment.id) ? "blue lighten-4" : nil %>">
                                    <i class="material-icons">contacts</i><%= address.street %>
                                </div>
                                <div class="collapsible-body">
                                    <div class="row valign-wrapper">
                                        <div class="col s9">
                                            <p>Name: <%= address.name %></p> 
                                            <p>Country: <%= address.nationality %></p>
                                            <p>Ref: <%= address.references %></p>
                                            <p>Obs: <%= address.comments %></p> <br>
                                        </div>
                                        <div class="col s3">
                                            <%= link_to  "View", view_path(address_id: address.id) %>
                                        </div>
                                    </div>
                                    <div>
                                        <a class="waves-effect waves-light btn modal-trigger blue darken-3" href="#report-visit">Report</a>
                                    </div>
                                </div>
                            </li>
                            <% end %>
                            
                        </ul>
                        <% end %>
                        
                    </div>
                    
                    <%# TODO: Ação dinâmica de terminar a designação %>
                    <%# Ações do cartão %>
                    <div class="card-action">
                        <a href="#" class="black-text waves-effect waves-teal btn-flat"><b>Done</b></a>
                    </div>
                    
                </div>
                
            </div>
            
        </div>        
        <% end %>

        <%# TODO: Completar modal de relatar visita (Data da visita; Enviar para o banco)  %>
        <%# Modal de relatar visita %>
        <div id="report-visit" class="modal" style="min-height: 33%">
            <div class="modal-content">
                <h4>Add a report</h4> <br>
                <div class="input-field col s12">
                    <textarea id="textarea1" class="materialize-textarea"></textarea>
                    <label for="textarea1">Your report</label>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Send</a>
                </div>
            </div>
        </div>
        
    </div>
    
</div>

<!-- ABA de informações -->
<div id="info" class="col s12 m12 l12" >
    <div class="container">
        
        <%#cartão%>
        <div class="row">
            <div class="col s12 m10 l8 xl8 offset-xl2 offset-l2 offset-m1">
                <div class="card white">
                    <div class="card-content">
                        <span class="card-title red-text"><b>DO NOT CALL</b></span>
                        <%# current_user.do_not_call_info.each do |info| %>
                        <% User.first.do_not_call_info.each do |info| %>
                        <h5><%= info[0].nil? ? nil : info[0].macroreg %></h5>
                        <% if !info[1].nil? %>
                        <% info[1].each do |address| %>
                        <p><%= link_to "#{address.street}", "#" %></p>
                        <div class="divider"></div>
                        <% end %>
                        <% end %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
</div>

<%# FIXME: remover dupla ação %>
<div class="fixed-action-btn">
    <a class="btn-floating btn-large blue lighten-2">
        <i class="material-icons Large">add</i>
    </a>
    <ul>
        <li><a class="btn-floating blue modal-trigger" href="#add-note-modal"><i class="material-icons">border_color</i></a></li>
        <li><a class="btn-floating blue modal-trigger" href="#add-territory-modal"><i class="material-icons">art_track</i></a></li>
    </ul>
</div>

<%# TODO: Colocar função dinâmica no modal  %>
<!-- Moda de adicionar endereço -->
<div id="add-territory-modal" class="modal">
    <div class="modal-content">
        <h4>Add a new territory</h4> <br>
        <div class="input-field col s12">
            <textarea id="textarea-address" class="materialize-textarea"></textarea>
            <label for="textarea-address">Address</label>
        </div>
        <div class="input-field col s12">
            <input id="textarea-reference" type="text" class="validate">
            <label for="textarea-reference">Reference</label>
        </div>
        <div class="input-field col s12">
            <textarea id="textarea-notes" class="materialize-textarea"></textarea>
            <label for="textarea-notes">Notes</label>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Send</a>
    </div>
</div>