<% content_for :header do %>

<div class="navbar-fixed">
    <nav class="nav-extended navbar-dark indigo darken-2 z-depth-2">
        <div class="nav-wrapper">
            <a href="home.html" class="brand-logo">Management</a>
            <a href="#" data-target="slide-out" class="sidenav-trigger">
                <i class="material-icons">menu</i>
            </a>
            <%= render "partials/navbar/general" %>

        </div>
        <div class="nav-content">
            <ul class="tabs tabs-transparent">
                <li class="tab">
                    <a href="#new" class="active">New</a>
                </li>
                <li class="tab">
                    <a href="#manage">Manage</a>
                </li>
            </ul>
        </div>

    </nav>
</div>

<% end %>
<!-- Aba de aceitar endereços novos -->
<div id="new">
    <div class="container">

        <!-- Cartão de novo território -->
        <div class="row">
            <div class="col s12 m6">
                <% SuggestedAddress.all.each do |suggested_address| %>
                <div class="card grey lighten-5 z-depth-2">
                    <div class="card-content indigo-text text-darken-4">
                        <p>
                            <b>Street:</b> <span class="street" id="<%= suggested_address.id %>"><%= suggested_address.street %></span>
                        </p>
                        <p>
                            <b>Neighborhood:</b> <span class="neighborhood" id="<%= suggested_address.id %>"><%= suggested_address.neighborhood %></span>
                        </p>
                        <p>
                            <b>Name:</b> <span class="name" id="<%= suggested_address.id %>"><%= suggested_address.name %></span>
                        </p>
                        <p>
                            <b>Comments:</b> <span class="comments" id="<%= suggested_address.id %>"><%= suggested_address.comments %></span>
                        </p>
                    </div>
                    <div class="card-action">
                        <a id="<%= suggested_address.id %>" href="#accept-address" class="modal-trigger suggested-address">Accept</a>
                        <a href="#">Reject</a>
                    </div>
                </div>
                <% end %>
            </div>
        </div>

    </div>

    <%= render "accept_address" %>
</div> <!-- <div id="new"> -->

<!-- Aba para escolher o mapa dos endereços -->
<div id="manage">
    <div class="container">


        <blockquote>
            <h4>Address without a map</h4>
        </blockquote>

        <!-- Cartão de novo território -->
        <% Address.addresses_without_card.each do |address| %>
        <div class="row">
            <div class="col s12 m6">
                <div class="card grey lighten-5 z-depth-2">
                    <div class="card-content indigo-text text-darken-4">
                        <p>
                            <b>Street:</b> <span><%= address.street %></span>
                        </p>
                        <p>
                            <b>Neighborhood:</b> <span><%= address.neighborhood%></span>
                        </p>
                        <% if !address.references.nil? %>
                        <p>
                            <b>Reference:</b> <span><%= address.reference %></span>
                        </p>
                        <% end %>
                        <% if !address.comments.nil? %>
                        <p>
                            <b>Comments:</b> <span><%= address.comments %></span>
                        </p>
                        <% end %>
                    </div>
                    <div class="card-action">
                        <a id="<%= address.id %>" href="#choose-map" class="modal-trigger add-card-to-address-button">Choose card</a>
                    </div>
                </div>
            </div>
        </div>
        <% end %>

        <%= form_tag add_address_to_card_path do %>
        <!-- Modal - Escolher mapa -->
        <div id="choose-map" class="modal">
            <!-- Conteúdo -->
            <div class="modal-content">
                <%= hidden_field_tag :address_id %>
                <h4>Choose map</h4> <br>
                <div class="input-field col s12">
                    <%= select_tag :card_id, options_from_collection_for_select(Card.all, :id, :name_and_number)%>
                </div>
            </div>
            <!-- Footer -->
            <div class="modal-footer">
                <%= submit_tag "Confirm", class:'modal-close waves-effect waves-green btn-flat'%>
            </div>
        </div>
        <% end %>
    </div>
</div>