 <%= link_to "New Telephone", new_telephone_path%>

<table>
  <tr>
    <th>Telephone</th>
  </tr>
 
  <% @telephones.each do |telephone| %>
    <tr>
      <td><%= telephone.name %></td>
      <td><%= telephone.number %></td>
      <td><%= telephone.address_id %></td>
      <td><%= link_to "Show", telephone_path(telephone) %></td>
      <td><%= link_to "Edit", edit_telephone_path(telephone) %></td>
      <td><%= link_to "Destroy", telephone_path(telephone), method: :delete, data:{confirm: "Are you sure?"} %></td>
    </tr>
  <% end %>
</table>