
<div class="container">
<h2>Listing addresses</h2><h3>Total: <%= @amount %></h3>
  
<% @addresses.each do |address| %>
<% begin %>
  <% @nationality = Nationality.find(address.nationality_id) %>
<% rescue ActiveRecord::RecordNotFound %>
  <% @nationality = Nationality.new(country: "Error") %>
<% end %>

<% begin %>
  <% @adrstype = Adrstype.find(address.adrstype_id) %>
<% rescue ActiveRecord::RecordNotFound %>
  <% @adrstype = Adrstype.new(typename: "Error") %>
<% end %>

<% begin %>
  <% @adrstype = Adrstype.find(address.adrstype_id) %>
<% rescue ActiveRecord::RecordNotFound %>
  <% @adrstype = Adrstype.new(typename: "Error") %>
<% end %>

<% begin %>
  <% @publisher = Publisher.find(address.publisher_id) %>
<% rescue ActiveRecord::RecordNotFound %>
  <% @publisher = Publisher.new(name: "Error") %>
<% end %>

<% begin %>
  <% @macroregion = Macroregion.find(address.macroregion_id) %>
<% rescue ActiveRecord::RecordNotFound %>
  <% @macroregion = Macroregion.new(macroreg: "Error") %>
<% end %>

<% begin %>
  <% @group = Group.find(address.group_id) %>
  <% @conductor = Publisher.find(@group.conductor) %>
<% rescue ActiveRecord::RecordNotFound %>
  <% @group = Group.new(number: 0) %>
  <% @conductor = Publisher.new(name: "Unknown") %>
<% end %>

<% begin %>
  <% @idiom = Idiom.find(address.idiom_id) %>
<% rescue ActiveRecord::RecordNotFound %>
  <% @idiom = Idiom.new(language: "Error") %>
<% end %>

<% begin %>
  <% @second_language = Idiom.find(address.second_language) %>
<% rescue ActiveRecord::RecordNotFound %>
  <% @second_language = Idiom.new(language: " ") %>
<% end %>


  <div class="row">
    <div class="col s12 m12">      
      <% if address.isvisitable %>
      <div class="card light-blue darken-4 hoverable">
      <% else %>
      <div class="card deep-orange accent-4">
      <% end %>
        <div class="card-content white-text">
          <span class="card-title">
            (<%= address.neighborhood %>) <%= address.street %> - <%#div class ="uppercase"%><i> <%= @macroregion.macroreg %></i> <%#/div%>
          </span>

          <p>Name: <%= address.name %>, from <%= @nationality.country %></p>
          <% if @second_language.language == " " %>
            <p>Speaks <%= @idiom.language  %></p>
          <%else%>
            <p>Speaks <%= @idiom.language  %>, <%= @second_language.language %></p>
          <%end%>
          <p>About: <%= address.comments %> </p>
          <p>Refs: <%= address.references %></p>
          <p> <%= @group.number.to_s + " - " + @conductor.name %> </p>
        </div>
        <div class="card-action">
          <%= link_to "Visits", address_path(address) %>
          <%= link_to "Edit", edit_address_path(address) %>
          <%= link_to "Destroy", address_path(address), method: :delete, data:{confirm: "Are you sure?"} %>
          <% if address.isvisited %>
            Visited by: <%=@publisher.name%>
          <% end %>
        </div>
      </div>
    </div>
    </div>
<% end %>

  <div class="fixed-action-btn offset-s11">
    <%= link_to new_address_path, class:"btn-floating btn-large waves-effect waves-light red" do %>
      <i class="material-icons">add</i>
    <% end %>
  </div>