<p>
  <strong>neighborhood:</strong>
  <%= @address.neighborhood %>
</p>
 
<p>
  <strong>street:</strong>
  <%= @address.street %>
</p>

<p>
  <strong>nationality_id:</strong>
  <%= @address.nationality_id %>
</p>
 
<p>
  <strong>idiom_id:</strong>
  <%= @address.idiom_id %>
</p>

<p>
  <strong>isvalid:</strong>
  <%= @address.isvalid %>
</p>
 
<p>
  <strong>isvisitable:</strong>
  <%= @address.isvisitable %>
</p>

<p>
  <strong>isvisited:</strong>
  <%= @address.isvisited %>
</p>
 
<p>
  <strong>adrstype_id:</strong>
  <%= @address.adrstype_id %>
</p>

<p>
  <strong>comments:</strong>
  <%= @address.comments %>
</p>
 
<p>
  <strong>references:</strong>
  <%= @address.references %>
</p>

<p>
  <strong>publisher_id:</strong>
  <%= @address.publisher_id %>
</p>
 
<p>
  <strong>macroregion_id:</strong>
  <%= @address.macroregion_id %>
</p>

<p>
  <strong>group_id:</strong>
  <%= @address.group_id %>
</p>
 
<p>
  <strong>name:</strong>
  <%= @address.name %>
</p>

<%= link_to 'Back', addresses_path %>