  <% begin %>
    <% @nationality = Nationality.find(@address.nationality_id) %>
  <% rescue ActiveRecord::RecordNotFound %>
    <% @nationality = Nationality.new(country: "Unknown") %>
  <% end %>

  <% begin %>
    <% @adrstype = Adrstype.find(@address.adrstype_id) %>
  <% rescue ActiveRecord::RecordNotFound %>
    <% @adrstype = Adrstype.new(typename: "Unknown") %>
  <% end %>
  
  <% begin %>
    <% @publisher = Publisher.find(@address.publisher_id) %>
  <% rescue ActiveRecord::RecordNotFound %>
    <% @publisher = Publisher.new(name: "Unknown") %>
  <% end %>

  <% begin %>
    <% @macroregion = Macroregion.find(@address.macroregion_id) %>
  <% rescue ActiveRecord::RecordNotFound %>
    <% @macroregion = Macroregion.new(macroreg: "Unknown") %>
  <% end %>
  
  <% begin %>
    <% @group = Group.find(@address.group_id) %>
    <% @conductor = Publisher.find(@group.conductor) %>
  <% rescue ActiveRecord::RecordNotFound %>
    <% @group = Group.new(number: 0) %>
    <% @conductor = Publisher.new(name: "Unknown") %>
  <% end %>
  
  <% begin %>
    <% @idiom = Idiom.find(@address.idiom_id) %>
  <% rescue ActiveRecord::RecordNotFound %>
    <% @idiom = Idiom.new(language: "Unknown") %>
  <% end %>
  
  <% begin %>
    <% @second_language = Idiom.find(@address.second_language) %>
  <% rescue ActiveRecord::RecordNotFound %>
    <% @second_language = Idiom.new(language: "Unknown") %>
  <% end %>


<p>
  <strong>neighborhood:</strong>
  <%= @address.neighborhood %>
</p>
 
<p>
  <strong>street:</strong>
  <%= @address.street %>
</p>

<p>
  <strong>nationality_id:</strong>
  <%= @nationality.country %>
</p>
 
<p>
  <strong>idiom_id:</strong>
  <%= @idiom.language %>
</p>

<p>
  <strong>Second language:</strong>
  <%= @second_language.language %>
</p>

<p>
  <strong>isvalid:</strong>
  <%= @address.isvalid %>
</p>
 
<p>
  <strong>isvisitable:</strong>
  <%= @address.isvisitable %>
</p>

<p>
  <strong>isvisited:</strong>
  <%= @address.isvisited %>
</p>
 
<p>
  <strong>adrstype_id:</strong>
  <%= @adrstype.typename %>
</p>

<p>
  <strong>comments:</strong>
  <%= @address.comments %>
</p>
 
<p>
  <strong>references:</strong>
  <%= @address.references %>
</p>

<p>
  <strong>publisher_id:</strong>
  <%= @publisher.name %>
</p>
 
<p>
  <strong>macroregion_id:</strong>
  <%= @macroregion.macroreg %>
</p>

<p>
  <strong>group_id:</strong>
  <%= @group.number.to_s + " - " + @conductor.name %>
</p>
 
<p>
  <strong>name:</strong>
  <%= @address.name %>
</p>

<%= link_to 'Back', addresses_path %>