<%= form_with(model: card, local: true) do |form| %>
 
  <p>
    <%= form.label :number %><br>
    <%= form.number_field :number %>
  </p>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
  <p>
    <button name="commit" type="submit" value="Create" class="btn waves-effect waves-light">
    Submit <i class="material-icons right">send</i>
    </button>
  </p>
 
<% end %>

