<div class="row">
  <div class="col s4">
    <div class="container">
      <h3><%if(@telephone.name != nil) %> <%= @telephone.name %><%else%> ? <%end%> </h3>
      <div class="card-panel teal">
        <span class="white-text">
          <p>
            <strong>Number:</strong>
            <%= @telephone.number %>
          </p>
          <p>
            <strong>Address:</strong>
            <%= @telephone.address_id %>
          </p>
        </span>
      </div>
    </div>
  </div>

  <div class="col s8">
    <div class="container">
      
    </div>
  </div>

</div>
<div class="row">
  <div class="col s12 m4 l3">
    <div class="container">
      <%= link_to telephones_path, class:"btn-floating  waves-effect waves-light blue-grey darken-4" do %><i class="material-icons"> arrow_back </i> <%end%>
      <%= link_to edit_telephone_path(@telephone), class:"btn-floating  waves-effect waves-light blue-grey darken-4" do %> <i class="material-icons"> edit </i> <%end%>
    </div>
  </div>
</div>