 <%= link_to "New Country", new_nationality_path%>

<table>
  <tr>
    <th>Country</th>
  </tr>
 
  <% @nationalities.each do |nationality| %>
    <tr>
      <td><%= nationality.country %></td>
      <td><%= link_to "Show", nationality_path(nationality) %></td>
      <td><%= link_to "Edit", edit_nationality_path(nationality) %></td>
      <td><%= link_to "Destroy", nationality_path(nationality), method: :delete, data:{confirm: "Are you sure?"} %></td>
    </tr>
  <% end %>
</table>