<!DOCTYPE html>
<html>
  <head>
    <title>Territory</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': true %>
    <%#= stylesheet_link_tag    'application', media: 'all' %>
    <%#= javascript_include_tag 'application' %>
    
    <%# Google Icon Font %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
    
    </head>
  <body>
  <%# Navbar %>
  <% if user_signed_in? %>
    <%= render 'partials/navbar'%>
  <%end%>

  <main>
 <%# Body %>
    <%= yield %>

  </main>
  <%# Footer %>
  <% if user_signed_in? %>
    <%= render 'partials/footer'%>
  <% end %>

    <%# <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script> %>
    <script>
      $('select').formSelect();

      $('.datepicker').datepicker({
          format: 'yyyy-mm-dd',
          selectMonths: true, // Creates a dropdown to control month
          selectYears: 15, // Creates a dropdown of 15 years to control year,
          today: 'Today',
          clear: false,
          close: 'Ok',
          closeOnSelect: false // Close upon selecting a date,
        });
      $('.button-collapse').sidenav({
      menuWidth: 300, // Default is 300
      edge: 'left', // Choose the horizontal origin
      closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
      draggable: true, // Choose whether you can drag to open on touch screens,
      onOpen: function(el) { /* Do Stuff */ }, // A function to be called when sideNav is opened
      onClose: function(el) { /* Do Stuff */ }, // A function to be called when sideNav is closed
        }
      );

      $('.fixed-action-btn').floatingActionButton({
        direction: 'top', // Direction menu comes out
        hoverEnabled: true, // Hover enabled
        toolbarEnabled: false // Toolbar transition enabled
      });

      $(".dropdown-trigger").dropdown({
        hover: true,
        coverTrigger: false,
        beloworigin: true
        });

      $(document).ready(function(){
        $('.sidenav').sidenav();
      });

    </script>
    </body>
</html>
